* {
  box-sizing: border-box;

}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-image: linear-gradient(to bottom left, rgb(221, 36, 118) 0%, rgb(255, 81, 47) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 10px;
}

.main {
  width: 460px;
  background: #ffffff;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  padding: 3em;
  color: #7a7b7f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main h1 {
  font-size: 2.4em;
  font-weight: 700;
  color: #1b1c1d;
  margin: 0;
  padding-left: 27px;
  /*position: relative;*/
}

.main h1:before {
  content: '';
  background-image: url(../img/sign-up-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 6%;
  left: 6%;
  width: 26px;
  height: 26px;

}

.main p {
  font-size: 1.3em;
  line-height: 1.7em;

}

.main a {
  color: #ea355a;
  text-decoration: none;
  /*font-weight: 400;*/
}

form {
  font-size: 1.4em;
  /*font-weight: 400;*/
}

form > input {
  border: none;
  background: #f0f0f0;
  padding: 0.8rem;
  margin-bottom: 15px;
  /*margin: 0;*/
  border-radius: 3px;
}

.half {
  width: calc(50% - 15px);
}

.half--right {
  float: right;
  margin-left: 30px;
}

.big {
  width: 100%;
}

form > button {
  width: 100%;
  border-radius: 3px;
  background: #ea355a;
  color: #ffffff;
  padding: 1rem;
  /*margin: 7px 6px;*/
  margin: 0;
  border: 1px solid transparent;
  border-bottom: 4px solid #bd1962;
  cursor: pointer;
  font-size: 1.8em;
  font-weight: 700;
}

button:hover, button:active, button:focus {
  /*outline: none;*/
  cursor: pointer;
  background-color: #bd1962;
  text-shadow: 0 2px 0 #ea355a;
  transition: all 0.3s ease-in-out;
}






















